header {
    height: 50vh; /* diminui a altura do cabeçalho */
    padding: 10px 0; /* ajusta o espaçamento interno */
}

h1 {
    font-size: 2.5em; /* ajusta o tamanho do texto de boas-vindas */
}

p {
    font-size: 1.2em; /* ajusta o tamanho do subtítulo e informações */
}

.logo {
    width: 100px; /* ajusta o tamanho da logo */
    position: absolute;
    top: 20px;
    left: 20px;
}
